/* CONTENIDO PRINCIPAL */

#carrusel-principal {
	position: relative;
	background-color: white;
}

#texto-carrusel {
	color: white;
	font-family: Ceviche;
	font-size: 40px;
	text-shadow: 0px 0px 10px black;

	text-align: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#carrusel-principal .imagen-carrusel {
	background-color: white;
	width: inherit;
}

#carrusel-principal img {
	display: block;
	margin: auto;

	border-radius: 10px;

	width: 100%;
	height: 300px;
}

.imagen-carrusel {
	display: none;
}

/*CONTENIDO OFERTAS */

#ofertas {
	padding-bottom: 20px;
}

#ofertas h1 {
	color: white;
	background-color: orangered;
	border-radius: 10px;

	font-size: 30px;

	padding: 5px;
	width: inherit;
}

/* CARTAS DE LAS OFERTAS */

#contenedor-cartas-ofertas {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: inherit;
}

.carta-oferta {
	background-color: whitesmoke;
	box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;

	height: fit-content;
	width: 23%;

	margin-bottom: 20px;
}

.carta-oferta h3 {
	text-align: center;
	font-size: 18px;

	padding: 5px;
}

.carta-oferta img {
	display: block;
	margin: auto;
	width: 95%;
	height: 200px;
}

.precio-carta {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 5px;
	margin-bottom: 5px;
	width: 98%;
}

.precio-carta P {
	color: black;

	font-size: 18px;
	margin-left: 10px;
}

.boton-carta {
	color: black;
	background-color: #47ffbf;

	text-decoration: none;
	text-align: center;

	border-radius: 10px;
	padding: 5px;
	width: 50%;
}

.boton-carta:hover {
	color: black;
	background-color: #47ffbf;
}

#anuncio {
	display: block;
	position: fixed;
	bottom: 15px;
	z-index: 10;

	height: 115px;
	width: inherit;
}

#contenedor-anuncio {
	border-radius: 10px;
	position: relative;

	width: 100%;
	height: inherit;
}

#contenedor-anuncio a {
	width: inherit;
	height: inherit;
}

#fondo {
	border-radius: 10px;

	height: inherit;
	width: inherit;
}

#logo-anuncio {
	position: absolute;
	top: -20px;
	right: 50%;

	transform: translateX(50%);
}

#boton-anuncio {
	background: none;
	border: none;

	position: absolute;
	top: 10px;
	right: 10px;
}

#boton-anuncio img {
	width: 20px;
	height: 20px;
}
