.banner-comidas {
	position: relative;
}

.banner-comidas img {
	border-radius: 10px;

	width: 100%;
	height: 300px;
}

.texto-banner {
	color: white;
	font-family: Ceviche;
	font-size: 40px;

	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%);

	animation: animacion_texto 2s ease 0s 1 normal;
}

@keyframes animacion_texto {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 45%;
		opacity: 1;
	}
}

.titulo-separador {
	background-color: #231f20;
	color: white;

	border-radius: 10px;

	font-family: Ceviche;
	font-size: 25px;
	text-align: center;

	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contenedor-cartas {
	width: 100%;
	height: fit-content;
	padding-bottom: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.carta-comida {
	background-color: whitesmoke;
	border-radius: 10px;

	width: 24%;
	height: 320px;
}

.carta-comida img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	display: block;
	margin: auto;
	width: 100%;
	height: 150px;
}

.carta-comida h4 {
	font-size: 18px;

	margin-top: 10px;
	text-align: center;
}

.carta-comida p {
	color: gray;
	text-align: center;
	margin: auto;

	width: 90%;
	height: 50px;
}

.carta-comida button {
	background-color: #47ffbf;
	border: none;
	border-radius: 10px;

	font-size: 13px;
	font-weight: bold;

	display: block;
	margin: auto;
	margin-top: 20px;

	width: 80%;
	height: 30px;
}

.carta-comida button:hover {
	background-color: aquamarine;
}
