/* GENERAL */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Ceviche;
	src: url(../fuentes/CevicheOne.ttf);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* BANNER Y BARRA DE NAVEGACION */

header {
	background-color: orangered;

	width: 100%;
	height: 110px;

	position: fixed;
	top: 0;

	z-index: 3;
}

#contenedor-header {
	height: 80px;
	width: 75%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: auto;
}

#logo-texto {
	color: white;

	font-family: Ceviche;
	font-size: 19px;

	display: flex;
	align-items: center;
}

#logo-texto a {
	color: white;

	font-family: Ceviche;
	font-size: 19px;
	text-decoration: none;
}

/* ELEMENTOS RESPONSIVOS */

#boton-menu {
	display: none;
	border: none;
	background: none;
}

#boton-menu img {
	width: 40px;
	height: 40px;
}

#nav-alt {
	background-color: #231f20;

	display: none;

	width: 100%;
	height: fit-content;
	z-index: 10;

	padding-bottom: 10px;
}

#nav-alt ul {
	margin: auto;
	width: 90%;
	padding-top: 10px;
}

#nav-alt li {
	text-align: right;
	height: 25px;
	margin-top: 5px;
	list-style: none;
}

#nav-alt a {
	color: white;
	text-decoration: none;
}

#nav-alt hr {
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid orangered;
}

/* FIN ELEMENTOS RESPONSIVOS */

.boton {
	background-color: white;
	color: black;

	border-radius: 10px;

	text-decoration: none;
	font-size: 15px;
	font-weight: 500;

	padding: 10px;
}

.boton:hover {
	background-color: #47ffbf;
	color: black;
}

#botones-header a {
	margin-left: 10px;
}

#logo {
	width: 70px;
	height: 70px;
}

nav {
	background-color: #231f20;
	height: 30px;

	text-align: center;
}

#menu-header li {
	margin-left: 20px;
	margin-right: 20px;

	display: inline-block;

	padding-top: 6px;
}

#menu-header a {
	color: white;
	text-decoration: none;
}

#menu-header a:hover {
	color: rgb(221, 221, 221);
}

/* CONTENEDOR PRINCIPAL */

#contenedor-principal {
	width: 75%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}

#contenido {
	width: 100%;
}

/* FOOTER */

footer {
	position: relative;
	bottom: 0;

	background-color: #231f20;

	width: 100%;
	padding-bottom: 20px;
}

#contenedor-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: auto;
	padding-top: 10px;
	width: 75%;
}

#logo-footer {
	display: flex;
	align-items: center;
	justify-content: left;
}

#logo-img {
	width: 55px;
	height: 55px;
}

#logo-footer h4 {
	color: white;

	font-family: Ceviche;
	font-size: 15px;

	margin-left: 5px;
}

#redes-footer h4 {
	color: white;
	font-size: 17px;

	margin-bottom: 5px;
}

#redes-footer li {
	display: inline-block;
	margin-left: 5px;
}

.icono-footer {
	width: 40px;
	height: 40px;
}

#contenedor-secundario-footer {
	color: white;

	display: flex;
	justify-content: space-evenly;

	width: 75%;
	margin: auto;
	margin-top: 20px;
}

.lista-footer h4 {
	font-size: 16;
	margin-bottom: 10px;
}

.lista-footer li {
	list-style: none;
	margin-bottom: 5px;
}

.lista-footer a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

footer p {
	color: white;
	text-align: center;
	font-size: 14px;

	margin-top: 20px;
}
