/* CONTENIDO PRINCIPAL */

#contenedor-principal {
	width: 75%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 110px;
}

#contenido {
	background-color: greenyellow;
	width: 100%;
	height: 1000px;
}

#carrusel-principal .imagen-carrusel {
	background-color: white;
	width: inherit;
}

#carrusel-principal img {
	display: block;
	margin: auto;

	width: 100%;
	height: 600px;
}

.imagen-carrusel {
	display: none;
}

.texto-carrusel {
	color: greenyellow;
	font-family: Ceviche;
	font-size: 40px;

}
