#contenedor-principal {
	margin-top: 110px;
}

#contenido {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

a {
	color: orangered;
}

/*  PANEL TABULADO */

/* BOTONES */
#botones-tab {
	position: sticky;
	top: 110px;

	background-color: orangered;
	border-bottom-left-radius: 10px;

	width: 25%;
	height: fit-content;
	padding-bottom: 15px;
}

.boton-tab {
	background-color: orangered;
	color: white;
	border: none;
	border-bottom: 2px solid rgb(151, 42, 2);

	font-size: 17px;
	text-align: left;
	font-family: Ceviche;

	height: 70px;
	width: 100%;
	padding-left: 15px;
}

.boton-tab:hover {
	background-color: rgb(151, 42, 2);
}

.boton-activo {
	background-color: #231f20;
	border: none;
}

#contenedor-tabs {
	width: 83%;
}

/* PANELES */
.contenido-tab {
	border-left: 1px solid rgb(219, 219, 219);
	border-right: 1px solid rgb(219, 219, 219);
	border-bottom: 1px solid rgb(219, 219, 219);

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	padding: 20px;

	animation: fade 0.5s;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.contenido-tab h2 {
	border-bottom: 1px solid grey;
	padding-bottom: 15px;

	font-weight: bold;
}

#enlace-editar {
	display: block;
	margin-top: 7px;
	text-align: right;
}

#datos-usuario {
	margin-top: 20px;
	margin-bottom: 40px;
}

#datos-usuario p {
	margin-bottom: 5px;
}
.negrita {
	font-weight: bold;
}

.carta-comida {
	background-color: whitesmoke;
	border-radius: 10px;

	display: flex;
	justify-content: space-between;

	width: 100%;
	height: 200px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.carta-comida img {
	height: 100%;
	width: 40%;
}

.carta-comida #datos-pedido {
	padding-top: 10px;
	width: 58%;
}

#datos-pedido ul {
	margin-top: 10px;
	padding-left: 25px;
}

#datos-pedido li {
	list-style: none;
	margin-bottom: 10px;
}

.cantidad {
	background-color: #231f20;
	color: white;

	display: inline-block;
	text-align: center;
	width: 20px;
}

/* PRMOCIONES */
#contenedor-promociones {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.promocion {
	background-color: #47ffbf;
	border: 2px dashed #231f20;
	border-radius: 10px;

	text-align: center;

	width: 32%;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.promocion h4 {
	padding-top: 5px;
}

.promocion button {
	background-color: #231f20;
	color: white;
	border: none;
	border-radius: 10px;

	font-family: Fredoka;
	font-size: 16px;

	display: block;
	height: 30px;
	width: 90%;
	margin: auto;
	margin-top: 35px;
}

.img-conts {
	width: 100%;
	height: 50%;
}
