/* CONTENIDO PRINCIPAL */

#contenedor-principal {
	width: 75%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}

#contenedor-principal img {
	display: block;

	height: 400px;
	margin: auto;
}

#contenedor-principal h1 {
	color: orangered;

	text-align: center;
	font-family: Ceviche;
	font-size: 45px;
}