#contenido {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* PANEL PRINCIPAL */

#informacion-envio {
	border: 1px solid rgb(219, 219, 219);
	border-radius: 10px;

	width: 50%;
	height: 1000px;

	padding: 20px;
	margin-bottom: 20px;
}

#informacion-envio label {
	font-weight: bold;
	font-size: 15px;
}

#informacion-envio h3 {
	background-color: #47ffbf;
	font-family: Ceviche;
	font-size: 13px;
	border-radius: 10px;

	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#informacion-envio input {
	border: none;
	border-bottom: 1px solid black;

	font-size: 15px;

	padding: 3px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#formas-pago {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;

	margin-top: 20px;
	width: 100%;
}

#formas-pago img {
	border: 2px solid whitesmoke;
	border-radius: 10px;

	padding: 10px;

	width: 30%;
	height: 100px;
}

/* DATOS DEL PEDIDO */

#datos-pago {
	border: 1px solid rgb(219, 219, 219);
	border-radius: 10px;

	position: relative;
	display: flex;
	flex-direction: column;

	width: 25%;
	height: 400px;

	padding: 10px;
	margin-left: 20px;
}

#datos-pago h3 {
	font-size: 17px;
	font-family: Ceviche;
	font-weight: 200;
}

#datos-pago ul {
	list-style: none;
	width: 100%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#datos-pago li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

hr {
	border: 0.3px solid orangered;
}

#datos-pago .cantidad-pedido {
	color: black;
	background-color: rgb(219, 219, 219);

	font-size: 15px;
	font-weight: bold;

	padding: 3px;
}

#datos-pago .tipo-pedido {
	color: black;
	font-weight: 600;

	margin-left: 5px;
	width: 70%;
}

#boton-pago {
	color: white;
	background-color: orangered;
	border-radius: 10px;

	position: absolute;
	bottom: 10px;

	height: 40px;
	width: calc(100% - 20px);
	padding-top: 10px;

	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}

#datos-pago p {
	color: black;

	display: flex;
	justify-content: space-between;
}

#total-pagar {
	color: orangered;
	text-decoration: underline;
	font-weight: bold;
}

#boton-pago:hover {
	color: white;
}
