/* GENERAL */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Ceviche;
	src: url(../fuentes/CevicheOne.ttf);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* BANNER Y BARRA DE NAVEGACION */

header {
	background-color: orangered;

	width: 100%;
	height: 110px;

	position: fixed;
	top: 0;
}

header #contenedor-header {
	height: 80px;
	width: 75%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: auto;
}

header #logo-texto {
	display: flex;
	align-items: center;
}

#logo-texto a {
	color: white;

	font-family: Ceviche;
	font-size: 19px;
	text-decoration: none;
}

.boton {
	background-color: white;
	color: black;

	border-radius: 10px;

	text-decoration: none;
	font-size: 15px;
	font-weight: 500;

	padding: 10px;
}

.boton:hover {
	background-color: #47ffbf;
	color: black;
}

#botones-header a {
	margin-left: 10px;
}

header #logo {
	width: 70px;
	height: 70px;
}

nav {
	background-color: #231f20;
	height: 30px;

	text-align: center;
}

#menu-header li {
	margin-left: 20px;
	margin-right: 20px;

	display: inline-block;

	padding-top: 6px;
}

#menu-header a {
	color: white;
	text-decoration: none;
}

#menu-header a:hover {
	color: rgb(221, 221, 221);
}

/* CONTENIDO PRINCIPAL */

#contenedor-principal {
	width: 75%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}

#contenedor-principal img {
	display: block;

	height: 400px;
	margin: auto;
}

#contenedor-principal h1 {
	color: orangered;

	text-align: center;
	font-family: Ceviche;
	font-size: 45px;
}
/* FOOTER */

footer {
	position: relative;
	bottom: 0;

	background-color: #231f20;

	width: 100%;
	height: 150px;

	padding-top: 10px;
}

footer ul {
	width: fit-content;
	margin: auto;
}

footer li {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

footer h4,
p {
	color: white;
	text-align: center;

	margin: 10px;
}

.icono-footer {
	width: 40px;
	height: 40px;
}
