@media only screen and (max-width: 902px) {
	#carrusel-principal h1 {
		font-size: 35px;
	}

	#contenedor-cartas-ofertas {
		justify-content: center;
	}

	.carta-oferta {
		margin-left: 10px;
		margin-right: 10px;

		width: 30%;
	}
}

@media only screen and (max-width: 776px) {
	#carrusel-principal h1 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 700px) {
	#contenedor-cartas-ofertas {
		justify-content: space-between;
	}

	.carta-oferta {
		margin-left: 0;
		margin-right: 0;

		width: 48%;
	}
}

@media only screen and (max-width: 665px) {
	#carrusel-principal h1 {
		font-size: 25px;
	}
}

@media only screen and (max-width: 554px) {
	#carrusel-principal h1 {
		font-size: 20px;
	}

	.carta-oferta {
		width: 100%;
	}
}

@media only screen and (max-width: 447px) {
	#carrusel-principal h1 {
		font-size: 17px;
	}
}